.closed{
    display: none;
}

header .site-nav{
    position: relative;
}
header .dropdown {
    position: absolute;
    right: 30px;
    top: 75px;
    background-color: #0a0f18;
    box-shadow: 0 0 20px #03e9f4;
    overflow: hidden;
}
header .dropdown ul{
    list-style: none;
}
header .dropdown li:not(:last-child){
    margin-bottom: 10px;
}
header .dropdown .inner-container{
    position: relative;
    padding: 20px 30px;
}

header .dropdown .inner-container span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #03e9f4;
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

header .dropdown .inner-container span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: #03e9f4;
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

header .dropdown .inner-container span:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #03e9f4;
    animation: animate3 2s linear infinite;
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

header .dropdown .inner-container span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background-color: #03e9f4;
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}