@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

button {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    color: #fff;
    margin: 0;
    padding: 0;
    --bgc: linear-gradient(#141e30, #243b55);
    --navc: #0a0f18;
    --acc: #03e9f4;
    --fooc: #545454;
    --postc: #D8D8D8;
}

body {
    margin-top: 60px;
    background-image: var(--bgc);
    height: calc(100% - 60px);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--navc);
}

header .inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 60px;
}

header .inner-container .site-nav img {
    align-self: center;
    height: 100%;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 10px;
}

header .inner-container .site-nav {
    display: flex;
    height: 100%;
}

header .site-nav>ul{
    list-style: none;
}

header .site-nav ul,
header .site-nav ul li {
    height: 100%;
}

header .site-nav ul li {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.8em;
    padding: 0 20px;
    transition: .5s;
}

header .site-nav ul li a {
    text-decoration: none;
    color: #03e9f4;
    transition: .5;
}

header .site-nav ul li:hover {
    background-color: var(--acc);
}

header .site-nav ul li:hover a {
    color: white;
}

header .site-nav ul li a:active {
    color: inherit;
}

.teamName {
    margin-right: auto;
    font-weight: 700;
    font-size: 2em;
    font-style: italic;
}

@media (max-width: 550px) {
    header .inner-container .site-branding {
        display: none;
    }

    header .inner-container .site-nav {
        width: 100%;
        justify-content: space-between;
    }

    header .inner-container .site-nav ul li {
        padding: 0 10px;
    }
}

.formArea {
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    padding: 40px;
    max-width: 400px;
}

main {
    min-height: 100%;
    display: grid;
    place-content: center;
    align-items: center;
    place-items: center;
}

.formArea .form-field {
    position: relative;
    margin-bottom: 30px;
}

.formArea .form-field textarea {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    transition: 0.5s;
    margin-top: 10px;
    height: 76px;
    overflow: hidden;
}

.formArea .form-field textarea:placeholder-shown{
    height: 36px;
    margin-top: 0;
}

.formArea .form-field label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.formArea .form-field textarea:not(:placeholder-shown)~label,
.formArea .form-field textarea:focus~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.formArea form .form-field{
    display: flex;
    align-items: center;
}

.formArea form .form-field a, .formArea form .form-buttons button{
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    font-weight: 500;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 2px;
}

.formArea form .form-buttons button {
    border: none;
    background-color: transparent;
}

.formArea form .form-field:nth-child(2) p {
    margin-right: 5px;
}

.formArea form .form-field a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.formArea form .form-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formArea form .form-buttons button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}