@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    color: #fff;
    margin: 0;
    padding: 0;
    --bgc: linear-gradient(#141e30, #243b55);
    --navc: #0a0f18;
    --acc: #03e9f4;
    --fooc: #545454;
    --postc: var(--navc);
    --posttxt: #fff;
    --postSec: #fff;
}

body {
    background-image: var(--bgc);
}
.closed{
    display: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: var(--navc);
    z-index: 1;
}

header > .inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 60px;
}

header > .inner-container .site-nav img {
    align-self: center;
    height: 100%;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 10px;
}

header > .inner-container .site-nav {
    display: flex;
    height: 100%;
}

nav > ul {
    list-style: none;
}


header .site-nav nav ul,
header .site-nav nav ul li {
    height: 100%;
}

header .site-nav nav ul li {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.8em;
    padding: 0 20px;
    transition: .5s;
}

header .site-nav nav ul li a {
    text-decoration: none;
    color: #03e9f4;
    transition: .5;
}

header .site-nav nav ul li:hover {
    background-color: var(--acc);
}

header .site-nav nav ul li:hover a {
    color: white;
}

header .site-nav nav ul li a:active {
    color: inherit;
}


.teamName {
    margin-right: auto;
    font-weight: 700;
    font-size: 2em;
    font-style: italic;
}

/* Breakpoint for header */
@media (max-width: 550px) {
    header .inner-container .site-branding {
        display: none;
    }

    header .inner-container .site-nav {
        width: 100%;
        justify-content: space-between;
    }

    header .inner-container .site-nav ul li {
        padding: 0 10px;
    }
}


main {
    margin-top: 60px;
    margin-inline: 25%;
}


.post {
    display: grid;
    /* Refactor */
    grid-template-areas:
        "z a a a a a f f y"
        "z a a a a a f f y"
        "z a a a a a b b y"
        "z g g g g g g p y"
        "z u u u u r r d y";
    grid-template-rows: repeat(5, 5vw);
    grid-template-columns: 1px repeat(7, 1fr) 1px;
    grid-gap: 1vw;
    background-color: var(--postc);
    margin-top: calc(120px + 7vw);
    box-shadow: 7px 7px 50px 0px rgba(0, 0, 0, .7);
    font-size: 0.9vw;
}

.postNoImg {
    grid-template-areas:
        "z d d d d d f f y"
        "z g g g g g f f y"
        "z g g g g g b b y"
        "z u u u _ r r p y";
    grid-template-rows: repeat(4, 5.25vw);
    grid-template-columns: 1px repeat(7, 1fr) 1px;
    grid-gap: 1vw;
}

.postNoImg .postMsg {
    grid-area: g;
}


.postImg {
    transform: translateY(-6vw);
    grid-row-start: a;
    grid-column-start: a;
    grid-row-end: g;
    grid-column-end: a;
    background-size: 100% 100%;
}


.postMsg {
    grid-row-start: g;
    grid-column-start: g;
    grid-row-end: u;
    grid-column-end: u;
    margin-left: 5px;
    font-weight: 500;
    font-size: 2em;
    color: var(--posttxt);
}

.day {
    grid-area: f;
    font-size: 10em;
    font-weight: 700;
    color: var(--postSec);
    text-align: center;
    position: relative;
    top: 30%;
}

.mon-year {
    grid-area: b;
    color: var(--postSec);
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
}

.author {
    grid-area: r;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    justify-content: center;
    position: relative;
    margin-top: 10%;
    margin-left: 10%;
    margin: 10%;
    background-color: var(--postSec);
    border-radius: 0px;
    border-top: 2px solid var(--acc);
    border-bottom: 2px solid var(--acc);
    background: transparent;
}

.author p {
    color: var(--posttxt);
}

.like {
    margin-top: 1vw;
    margin-left: 1vw;
    grid-area: p;
    font-size: 2em;
}


input[class="activator"] {
    display: none;
}

input[class="activator"]:checked ~ .inactive-like {
    display: none;
}

label[class="like"] {
    cursor: pointer;
    opacity: 0;
}

.post:last-of-type {
    margin-bottom: 60px;
}

/* Breakpoint for post */
@media (max-width: 992px) {
    main {
        margin-inline: 5%;
    }

    .post {
        grid-template-rows: repeat(5, 9vw);
        /*grid-template-columns: 1px repeat(7, 1fr) 1px;*/
        font-size: 1.5vw;
    }

    .postNoImg {
        grid-template-rows: repeat(4, 13.5vw);
        /*grid-template-columns: 1px repeat(7, 1fr) 1px;*/

    }


    .postImg {
        transform: translateY(-10vw);
    }

    .postMsg {
        font-size: 2.5em;
    }

    .like {
        font-size: 3em;
    }

    .postNoImg .day {
        top: 53%;
    }

    .author {
        font-size: 1.2em;
    }

}

footer {
    height: 5rem;
    margin-top: auto;
    background-color: var(--fooc);
}
