@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --bgc: linear-gradient(#141e30, #243b55);
    --navc: rgba(0,0,0,.5);
    --acc: #545454;
    --fooc: #545454;
    --postc: #D8D8D8;
}

body {
    background-color: var(--bgc);
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--navc);
}

header .inner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 60px;
}

header .inner-container .site-nav img{
    align-self: center;
    height: 100%;
    cursor: pointer;
    border-radius: 50%;
}

header .inner-container .site-nav{
    display: flex;
    height: 100%;
}
nav>ul {
    list-style: none;
}


header .site-nav ul, header .site-nav ul li{
    height: 100%;
}
header .site-nav ul li{
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.8em;
    padding: 0 20px;
    transition: all 0.2s;
}

header .site-nav ul li a{
    text-decoration: none;
    color: black;
    transition: all 0.2s;
}
header .site-nav ul li:hover{
    background-color: var(--acc);
}
header .site-nav ul li:hover a{
    color: white;
}
header .site-nav ul li a:active{
    color: inherit;
}


.teamName {
    margin-right: auto;
    font-weight: 700;
    font-size: 2em;
    font-style: italic;
}

@media (max-width: 550px) {
    header .inner-container .site-branding{
        display: none;
    }
    header .inner-container .site-nav {
        width: 100%;
        justify-content: space-between;
    }
    header .inner-container .site-nav ul li{
        padding: 0 10px;
    }
}


main {
    display: grid;
    place-items: center;
    min-height: 100%;
    background-color: var(--bgc);
}

footer {
    height: 5rem;
    margin-top: auto;
    background-color: var(--fooc);
}

button {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 0.5em 1.25em;
    border-radius: 0.125em;
    border-width: 1px;
    background: var(--acc);
    transition: 0.5s;
}

.loginArea{
    background-color: var(--postc);
    height: 30vh;
    width: 25vw;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, .7);
}
button:hover{
    background: var(--bgc);
    color: var(--acc);
}

@media screen and (max-width: 400px) {
    .buttons {
        flex-direction: column-reverse;
    }
}