@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}
 
* {
    box-sizing: border-box;
    color: #fff;
    margin: 0;
    padding: 0;
    --bgc: linear-gradient(#141e30, #243b55);
    --navc: rgba(0, 0, 0, .5);
    --acc: #03e9f4;
    --fooc: #545454;
    --postc: #d8d8d8;
}

body {
    margin-top: 60px;
    background-image: var(--bgc);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--navc);
}


header .inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 60px;
}

header .inner-container .site-nav img {
    align-self: center;
    height: 100%;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 10px;
}

header .inner-container .site-nav {
    display: flex;
    height: 100%;
}

nav>ul {
    list-style: none;
}


header .site-nav ul,
header .site-nav ul li {
    height: 100%;
}

header .site-nav ul li {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.8em;
    padding: 0 20px;
    transition: .5s;
}

header .site-nav ul li a {
    text-decoration: none;
    color: #03e9f4;
    transition: .5;
}

header .site-nav ul li:hover {
    background-color: var(--acc);
}

header .site-nav ul li:hover a {
    color: white;
}

header .site-nav ul li a:active {
    color: inherit;
}


.teamName {
    margin-right: auto;
    font-weight: 700;
    font-size: 2em;
    font-style: italic;
}
@media (max-width: 550px) {
    header .inner-container .site-branding {
        display: none;
    }

    header .inner-container .site-nav {
        width: 100%;
        justify-content: space-between;
    }

    header .inner-container .site-nav ul li {
        padding: 0 10px;
    }
} 



main {
    margin-top: 5px;
}

.posts {
    margin-top: 3.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 .post {
    position: relative;
    background-color: var(--postc);
    margin-top: 5vh;
    height: 450px;
    width: 900px;
    margin: 200px auto;
    margin-bottom: 40px;
    box-shadow: 7px 7px 50px 0px rgba(0, 0, 0, .7);
}

.pic {
    float: left;
    position: relative;
    left: 30px;
    top: -30px;
    height: 320px;
    width: 530px;
    box-shadow: 8px 8px 50px 0px rgba(0, 0, 0, .7);
    overflow: hidden;
}

img.left {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
}

.right {
    margin-top: 20px;
    margin-left: 590px;
    margin-right: 20px;
}

.right p {
    margin-top: 10px;
}

h1 {
    padding-top: 20px;
    font-size: 1.3rem;
    color: #4b4b4b;
}

.author {
    padding: 7px;
    border-radius: 1em;
    margin-top: 0.7rem;
    padding-right: 70%;
    font-size: 14px;
    border: none;
    background-color: white;
}

h5 {
    position: absolute;
    left: 30px;
    bottom: 20px;
    font-size: 6rem;
    color: #c3c3c3;
}

h6 {
    position: absolute;
    left: 30px;
    bottom: 0px;
    font-size: 2rem;
    color: #c3c3c3;
}

.alike {
    display: none;
}

.like {
    position: absolute;
    right: 50px;
    bottom: 50px;
    font-size: 30px;
}

#activator {
    display: none;
}

#activator:checked~.alike {
    display: block;
}

.plike {
    opacity: 0;
}

header::after {
    content: '';
}

footer {
    height: 5rem;
    margin-top: auto;
    background-color: var(--fooc);
}