@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

* {
    color: #fff;
    --bgc: linear-gradient(#141e30, #243b55);
    --navc: #0a0f18;
    --acc: #03e9f4;
    --fooc: #545454;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}

body{
    min-height: 100%;
    background-image: var(--bgc);
}
main{
    margin-inline: 25%;
}
@media (max-width: 992px) {
    main {
        margin-inline: 5%;
    }
}
