@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

* {
    box-sizing: border-box;
    color: #fff;
    margin: 0;
    padding: 0;
    --bgc: linear-gradient(#141e30, #243b55);
    --navc: #0a0f18;
    --acc: #03e9f4;
    --fooc: #545454;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: var(--bgc);
}
